<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      h4 { color: #262626;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
      p { color: #262626;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
      header h1 {font-size: 40px;
      font-weight: bold;
      color: #3DDC97;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      }
      footer {margin-top: 15px;
      color: #3DDC97;
      }
       div {background-color: rgb(196, 244, 244);
       padding: 5px;
       margin: 0 auto;
       }
       main{
        margin: 0 auto;
        padding: 10px;
       }
    </style>

  </head>
  <body>
    <div>
    <header><h1>Hashroi online</h1></header>
    <div class="main">
      <h4>{{title}}</h4>
      <p>{{text1}}</p>
      <p>{{text2}}</p>
     <p>{{text3}}</p>
      <p>{{text4}}</p>
      <p>{{text5}}</p>

    </div>
      <footer>Hashroi</footer>
      </div>
  </body>
</html>